@import "src/app/shared/colors";
@import "src/app/shared/classes";

.modal-wrapper {
  max-width: 400px;
}

.modal-header {
  background-color: $color-blue-1;
  color: $color-white;
  text-align: center;
  padding-bottom: 20px;
}

.modal-content {
  margin-top: 20px;
  color: $color-gray-2;
}
