<div class="contact-support-wrapper">
  <div mat-dialog-title class="contact-support-wrapper__header">Contact support</div>
  <form class="comment-card" [formGroup]="contactSupportFrom">
    <mat-form-field class="comment-card__field">
      <mat-label>Leave a message</mat-label>
      <textarea class="comment-content" formControlName="messageControl" matInput></textarea>
    </mat-form-field>
  </form>
  <div mat-dialog-actions class="button-wrapper">
    <button class="button-discard" [mat-dialog-close]="DIALOG_RESPONSE.DISCARD" mat-button>Discard</button>
    <button class="button-save" [mat-dialog-close]="messageControl.value" mat-button>Send</button>
  </div>
</div>
