<div class="contact-support-wrapper">
  <h1 mat-dialog-title>Contact support</h1>
  <form [formGroup]="contactSupportFrom">
    <mat-form-field class="comment-card__field">
      <mat-label>Leave a message</mat-label>
      <textarea formControlName="messageControl" matInput></textarea>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button [mat-dialog-close]="null" mat-button>Discard</button>
    <button [mat-dialog-close]="messageControl.value" mat-button>Send</button>
  </div>
</div>
