<mat-card class="sign-up-card">
  <mat-label>Create account</mat-label>
  <form
    [formGroup]="signUpForm"
    class="sign-up-form">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input
        formControlName="firstName"
        matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input
        formControlName="lastName"
        matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        formControlName="username"
        matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        matInput
        type="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        type="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Repeat password</mat-label>
      <input
        formControlName="repeatPassword"
        matInput
        type="password">
    </mat-form-field>
    <button
      (click)="onSignUpClick($event)"
      [disabled]="!signUpForm.valid"
      mat-button>Sign up
    </button>
  </form>
  <button
    (click)="onLogInClick($event)"
    mat-button>Already have a account? Sign in
  </button>
</mat-card>
