@import "src/app/shared/colors";

.product-details-wrapper {
  display: flex;
  margin: 32px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-blue-1;
    color: $color-white;
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }
}

.product-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.attributes-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-card {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  &__field {
    display: flex;
    flex: 1 1 0;
  }
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-info-image {
  align-self: center;
}

.comment-header {
  min-width: 300px;
  background-color: $color-blue-1;
  color: $color-white;
  text-align: center;
  align-self: center;
  padding: 20px;
  margin-bottom: 20px;
}

.attribute-wrapper {
  display: flex;
  margin-bottom: 16px;
  gap: 16px;

  &__name {
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__value {
    color: $color-black;
  }
}
