<mat-card *ngIf="!isLoading" class="product-details-wrapper">
  <mat-card-header class="product-details-wrapper__header">
    <mat-label>{{ product.title }}</mat-label>
    <div class="button-wrapper">
      <button (click)="onDeleteProductClick()" *ngIf="isMyProduct" mat-icon-button matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="onBuyNowClick()" *ngIf="!isMyProduct" mat-icon-button matTooltip="Buy">
        <mat-icon>shopping_bag</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="product-details-wrapper__container">
    <div class="product-info">
      <img [src]="product.image" class="product-info-image" mat-card-md-image>
      <div class="product-info__main-info">
        <mat-label>Category: {{ product.category.name }}</mat-label>
        <mat-label>Description: {{ product.description }}</mat-label>
        <mat-label>Price: {{ product.price }}</mat-label>
      </div>
      <div class="product-info__details-info">
        <mat-label>State : {{ product.isNew ? 'New' : 'Used' }}</mat-label>
        <div *ngFor="let attribute of attributes trackBy: attributeValueTrack">
          <mat-label>{{ attribute.attributeName }} : {{ attribute.attributeValueName }}</mat-label>
        </div>
      </div>
    </div>
    <form [formGroup]="leaveCommentForm" class="comment-wrapper">
      <div *ngFor="let comment of comments trackBy: commentTrack">
        <app-comment [comment]="comment"></app-comment>
      </div>
      <div *ngIf="isLoggedIn" class="comment-card">
        <mat-form-field class="comment-card__field">
          <mat-label>Leave a comment</mat-label>
          <textarea formControlName="commentContent" matInput></textarea>
        </mat-form-field>
        <button (click)="onPostCommentClick()" mat-button>Post</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
