<div class="password-form-container">
  <div
    mat-dialog-title
    class="password-form-container__header">Change password
  </div>
  <form
    [formGroup]="resetPasswordForm"
    class="password-form">
    <mat-form-field class="form-field">
      <mat-label>Old password</mat-label>
      <input
        formControlName="oldPassword"
        matInput
        type="password">
    </mat-form-field>
    <mat-error
      *ngIf="hasOldPasswordError()"
      class="mat-error">{{ PASSWORD_ERROR_MESSAGES.INVALID_OLD_PASSWORD }}</mat-error>
    <mat-form-field class="form-field">
      <mat-label>New password</mat-label>
      <input
        formControlName="newPassword"
        matInput
        type="password">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Repeat new password</mat-label>
      <input
        formControlName="repeatNewPassword"
        matInput
        type="password">
    </mat-form-field>
    <mat-error
      *ngIf="hasPasswordsMatchError()"
      class="mat-error">{{ PASSWORD_ERROR_MESSAGES.PASSWORDS_DONT_MATCH }}</mat-error>
  </form>
  <div
    mat-dialog-actions
    class="button-wrapper">
    <button
      (click)="onDiscardPasswordClick()"
      mat-button
      class="button-discard">Discard
    </button>
    <button
      (click)="onSubmitPasswordClick()"
      class="button-save"
      [disabled]="!resetPasswordForm.valid || hasOldPasswordError() || hasPasswordsMatchError()"
      mat-button>
      Save
    </button>
  </div>
</div>
