<mat-toolbar class="toolbar-container">
  <div class="toolbar-container-left">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-label>Web shop</mat-label>
  </div>

  <div class="search-bar">
    <mat-icon class="search-bar__icon">search</mat-icon>
    <input class="search-bar__input" placeholder="Search for products"/>
  </div>

  <div class="toolbar-container-right">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container autosize class="container">
  <mat-drawer #drawer class="sidenav" mode="side">
    <div *ngFor="let category of categories">
      <li *ngIf="!category.parentCategory" class="no-bullets">
        <a>{{ category.name }}</a>
      </li>
    </div>
  </mat-drawer>
  <div class="sidenav-content">
    <app-container>
    </app-container>
  </div>
</mat-drawer-container>
