<mat-toolbar class="toolbar-container">
  <div class="toolbar-container-left">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-label>Web shop</mat-label>
  </div>

  <div class="search-bar">
    <mat-icon class="search-bar__icon">search</mat-icon>
    <input class="search-bar__input" placeholder="Search for products"/>
  </div>

  <div class="toolbar-container-right">
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container autosize class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <li *ngFor="let category of categories">
      <ng-template *ngIf="!category.subcategory">
        <a>{{ category.name }}</a>
      </ng-template>
    </li>
  </mat-drawer>

</mat-drawer-container>
