@import "src/app/shared/colors";
@import "src/app/shared/classes";

.profile-page-card {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__content {
    padding: 16px;
  }
}

.profile-form {
  display: flex;
  gap: 32px;

  &--side {
    display: flex;
    flex-direction: column;
  }
}
