$color-white: #fff;
$color-black: #000;

$color-blue-1: #08598e;
$color-blue-2: #01c7f3;
$color-blue-3: #1E90FF;
$color-blue-4: #041741;
$color-blue-5: #0498c8;
$color-blue-6: #05c1eb;

$color-red-1: #FF5858;
$color-red-2: #D43908;

$color-gray-1: #e6e6eb;
$color-gray-2: #48484a;
