<mat-card class="product-card-wrapper">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.category.name }}</mat-card-subtitle>
      <img [src]="product.image" mat-card-lg-image>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-label>{{ product.description }}</mat-label>
    <div class="button-wrapper">
      <button mat-button>Add to watchlist</button>
      <button mat-button>Add to card</button>
      <button mat-button></button>
      <button (click)="toggle()" mat-icon-button>
        <mat-icon>comment</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <div [@collapse]="collapsed" class="comment-card">
    <mat-form-field class="comment-card__field">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="My comment..."></textarea>
    </mat-form-field>
  </div>
</mat-card>
