.product-card-wrapper {
  display: flex;
  border: 1px solid gray;
  cursor: pointer;

  &__header {

  }

  &__container {

  }
}

.comment-card {
  display: flex;

  &__field {
    display: flex;
    flex: 1 1 0;
  }
}
