<mat-card class="product-card-wrapper">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-label>Price : {{ product.price }} BAM</mat-label>
    <img [src]="product.image" mat-card-lg-image>
    <div *ngIf="isLoggedIn" class="button-wrapper">
      <button mat-button>Add to watchlist</button>
      <button mat-button>Add to card</button>
    </div>
  </mat-card-content>
</mat-card>
