.products-container {
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.products-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.paginator {
  display: flex;
  align-self: center;
}
