@import "src/app/shared/colors";

.toolbar-container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 150;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 66, 121, 1) 29%, rgba(0, 212, 255, 1) 100%);
}

.toolbar-container-left {
  display: flex;
  align-items: center;
  color: $color-blue-3;
}

.toolbar-container-right {
}

.web-shop-label {
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid darkgrey;
  border-radius: 24px;
  color: $color-blue-3;

  &__icon {
  }

  &__input {
    background-color: inherit;
    border: none;
    outline: none;
    color: $color-blue-3;

    &::placeholder {
      color: $color-blue-3;
    }
  }
}

.container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: $color-gray-1;
}

.quick-profile-view-card {
  z-index: 10;
  height: 120px;
  width: 240px;
  background-color: $color-blue-6;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  position: fixed;
  right: 0;
}

.sidenav {
  display: flex;
  width: 300px;
  background-color: $color-blue-4;
  color: $color-blue-3;
  padding: 8px;
}

.sidenav .button-show-all {
  padding: 20px;
  color: $color-blue-3;
  background-color: transparent !important;
  font-size: 16px;
  margin-left: 30px;
}

.mat-tree-node {
  color: $color-blue-3 !important;
}

.mat-tree-node mat-icon-button {
  color: $color-blue-3;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: $color-white;
  }
}

.tree-node {
  cursor: pointer;
  color: $color-blue-3;
  background-color: $color-blue-4;
}


.icon-label-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  cursor: pointer;
}

.icon-label-wrapper mat-icon {
  color: $color-blue-4;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.mat-drawer-content::-webkit-scrollbar {
  display: none;
}
