<mat-card class="login-card">
  <mat-label>Login</mat-label>
  <mat-label>Please sign in to continue.</mat-label>
  <form class="login-form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
             required>
      <mat-icon matSuffix
                (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <button mat-button>Login</button>
  </form>
  <button mat-button (click)="onSignUp($event)">Don't have an account yet? Sign up</button>
</mat-card>
