@import "src/app/shared/colors";
@import "src/app/shared/classes";

.activation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 800px;
  padding: 32px;
}
